<div class="row storeItem"
     [class.item-disabled]="!affordable" [class.item-shown]="isShown && !affordable && !fadedIn"
     [class.item-enabled]="affordable" [class.item-hidden]="!isShown">
  <img src="/assets/{{imgName}}.png" class="storeItemImg">
  <div class="storeItemBox">
    <div class="storeItemNameBox" style="display: flex; flex-direction: column; align-content: flex-end;">
      <span class="storeItemName">{{name}}</span>
      <div>
        <img src="/assets/coin.png" style="width: 20px;margin-bottom: 2px;"> <span class="storeItemCost">{{prize | number}}</span>
      </div>
    </div>
    <div>
      <span class="storeItemCount">{{count}}</span>
      <button class="buybtn"
              [class.btn-disabled]="!affordable"
              (click)="onBtnClick()">
        <i class="fas fa-shopping-cart"></i>
      </button>
    </div>
  </div>
</div>
